:root {
    --primary-color: #b4d0e7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway";
}

html,
body {
    width: 100%;
    height: 100%;
}

.hide-overflow-y {
    overflow-y: hidden;
}

.nav-ele {
    width: 100%;
    position: static;
}

.nav-bar-with-open-menu {
    position: relative;
    z-index: 2;
}

.nav-on-scroll {
    position: fixed;
    top: 0;
    z-index: 2;
}

.last-name-on-scroll {
    color: #0066ff;
}

.nav-container {
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    display: flex;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease;
}

.nav-white {
    background-color: white;
    box-shadow: 0px 1px 0px rgb(221, 221, 221);
}

.svg-scrolled {
    fill: #0066ff;
}

.nav-container .icon-container {
    width: 275px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-container .first-name {
    font-size: 27px;
    font-weight: 700;
    margin: 0 2%;
}

.icon-container .last-name {
    font-size: 27px;
    font-weight: 500;
    margin: 0 1%;
}

.nav-container .links-section {
    width: 79%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
}

.list {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    width: 100%;
}

.list .navlink {
    text-decoration: none;
    padding: 0%;
    margin-right: 25px;
    width: fit-content;
}

.links-section .list .navlink span {
    font: 400 19px "Raleway";
}

.drop-down-list {
    display: none;
}

.drop-down-list-now-shown {
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 80px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: white;
}

.open-nav-top {
    position: absolute;
    transform: rotate(45deg);
}

.open-nav-bottom {
    position: absolute;
    transform: rotate(-45deg);
}

.ham-menu .wrapper .open-nav-mid {
    width: 0px;
}

.ham-menu {
    display: none;
}

.nav-cta {
    width: 17%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.trial {
    border: none;
    font-size: 13px;
    padding: 5px 15px;
    background: #fff;
}

.button-white {
    width: 150px;
    background-color: #0066ff;
    color: #fff;
}

@media screen and (max-width: 1365px) {
    #nav-bar .nav-container .links-section {
        flex-direction: row;
    }

    .links-section .nav-cta {
        width: 93%;
        justify-content: flex-end;
    }

    .links-section .nav-cta .trial {
        width: 150px;
        height: 29px;
        padding: 0;
    }

    .links-section .list {
        display: none;
    }

    .drop-down-list .list {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        height: auto;
        align-items: flex-start;
        margin-top: 15px;
    }

    .drop-down-list .list .navlink {
        margin: 15px 0;
    }

    .links-section .ham-menu {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 7%;
        height: 100%;
    }

    .wrapper {
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
    }

    .wrapper .top-bar,
    .wrapper .mid-bar,
    .wrapper .bottom-bar {
        width: 24px;
        height: 2px;
        background-color: black;
        margin: 2px 0;
        transition: all 0.3s ease;
    }
}

@media screen and (max-width: 800px) {
    #nav-bar .nav-container .links-section {
        flex-direction: row;
    }

    #nav-bar .nav-container {
        padding: 15px;
    }

    .nav-container .icon-container .first-name {
        font-size: 23px;
    }

    .nav-container .icon-container .last-name {
        font-size: 23px;
    }

    .nav-container .icon-container .icon-svg {
        width: 40px;
        height: 25px;
    }

    .drop-down-list .nav-cta {
        height: auto;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .drop-down-list .nav-cta .trial {
        padding: 10px 15px;
        width: 90%;
    }
}

.flex-row-both {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column-both {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#landing {
    width: 100%;
    background-color: var(--primary-color);
    padding: 80px 4% 0 4%;
}

.nav-above-landing {
    position: relative;
    z-index: -2;
}

.heading {
    width: 100%;
    font: 500 72px "Oswald";
    justify-content: flex-start;
    color: #61082b;
}

.bottom-landing-section {
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 30px;
}

.content-left {
    width: 30%;
    align-items: flex-start;
}

.content-left .text-info {
    font-size: 18px;
    padding-right: 40px;
    line-height: 1.5;
}

.image-right {
    position: relative;
    left: 3%;
    z-index: 0;
}

.image-right img {
    max-width: 100%;
    height: auto;
}

.call-t-a {
    margin: 30px 0;
}

.call-t-a .call-to-action-blue {
    width: 190px;
    height: 50px;
    background-color: #0066ff;
    color: #fff;
    border: none;
    font: 400 17px "Raleway";
    padding: 0 20px;
}

.call-t-a p {
    margin: 15px 0;
}

#plans {
    width: 100%;
}

.plans-container {
    width: 100%;
    padding: 60px 8% 0 8%;
    justify-content: flex-start;
}

.plans-heading {
    width: 100%;
    margin: 20px 0;
}

.plans-heading h1 {
    font: 500 45px "Play";
}

.bill-type {
    width: 100%;
    justify-content: flex-start;
    margin: 10px 0px 50px 0px;
}

.bill-type .monthly {
    margin-right: 50px;
}

.radio-btn {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #fbfbfb;
    border: 1px solid rgb(155, 155, 155);
    margin-right: 15px;
}

.on-checked-radio {
    border: 5px solid #0061ff;
}

.plans {
    width: 100%;
}

.top-3 {
    width: 100%;
    align-items: flex-start;
}

.individual {
    width: 29.5%;
    border: 1px solid #c3c3c3;
    height: 880px;
    justify-content: flex-start;
}

.individual .type-head {
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #c3c3c3;
}

.type-head img {
    margin-right: 10px;
}

.type-head p {
    font-size: 1.1rem;
}

.specific {
    width: 100%;
    padding: 30px 20px;
    align-items: flex-start;
}

.specific h3 {
    margin: 18px 0;
}

.features {
    width: 100%;
    padding: 5px 20px;
    align-items: flex-start;
    margin-bottom: 50px;
}

.features .ff {
    margin: 10px 0;
}

.features .ff img {
    margin-right: 10px;
}

.features .ff p {
    font-size: 15px;
}

.cta-plan {
    width: 100%;
    padding: 0 20px;
}

.cta-plan button {
    width: 100%;
    padding: 15px 10px;
    background-color: #0061ff;
    color: #fbfbfb;
    border: none;
}

.cta-plan p {
    margin: 30px 0;
    font-size: 16px;
}

.line-container {
    width: 100%;
    padding: 0 20px;
}

.line-container .line {
    width: 30%;
    margin: 10px 0;
    height: 1px;
    background-color: rgb(155, 155, 155);
}

.plan-highlight {
    width: 100%;
    padding: 0 20px;
    align-items: flex-start;
    margin: 30px 0;
    margin-bottom: 30px;
}

.plan-highlight h2 {
    font-size: 18px;
}

.highlights {
    width: 100%;
    align-items: flex-start;
    margin-top: 15px;
}

.light {
    width: 100%;
    justify-content: flex-start;
    margin-top: 10px;
}

.tick {
    width: 14px;
    height: 7px;
    border-left: 2px solid #0061ff;
    border-bottom: 2px solid #0061ff;
    transform: rotate(-45deg);
    margin: 10px 10px 10px 0px;
}

.tick-txt {
    font-size: 14px;
    line-height: 1.5;
}

.top-3 .individual:nth-child(2) {
    margin: 0 5.8%;
}

.last {
    width: 100%;
    border: 1px solid #c3c3c3;
    margin-top: 30px;
}

.enter-content {
    width: 100%;
    padding: 20px;
    justify-content: flex-start;
}

.enter-heading {
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #c3c3c3;
}

.left-en-ss {
    align-items: flex-start;
    justify-content: flex-start;
}

.left-en-ss h4 {
    margin: 20px 0;
}

.left-en-ss p {
    font-size: 14px;
}

.right-en-ss {
    height: 90px;
    width: 48%;
    justify-content: flex-end;
    align-items: flex-start;
}

.right-en-ss button {
    height: 45px;
    width: 180px;
    border: none;
    background-color: #0061ff;
    color: #fbfbfb;
}
